<% if task.active == true %>
  <div><h5><%= task.name %></h5></div>
  <div>Don't forget the deadlines: <%= task.deadline %></div>
<% else %>
  <div><strike><h5><%= task.name %></h5></strike></div>
<% end %>
